.ant-notification-notice-with-icon .ant-notification-notice-message{
    font-size: 18px;
}


.ant-notification-notice-with-icon .ant-notification-notice-description{
    font-size: 14px;
}

.margin-left-20{
    margin-left: 20px;
}