.top {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000);
    line-height: 50px;
}
.top span{
    background:lightpink;
    float: right;
}