.userInfo-content{
    width: 50%;
    height: auto;
    margin: auto;
}

.userInfo-content .userInfo-title{
    font-size: 24px;
    text-align: center;
    color: #fefefe;
    margin-top: 10%;
    margin-bottom: 20px;
}

.userInfo-content .userInfo-title > i{
    font-size: inherit;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.userInfo-content .userInfo-title > i > a{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.userInfo-content .userInfo-container{
    width: 100%;
    height: auto;
    position: relative;
}

.userInfo-content .userInfo-container .userInfo-container-left{
    width: 50%;
    height: auto;
    /* border: 1px solid #fff; */
    position: absolute;
    padding: 10px;
}

.userInfo-content .userInfo-container .userInfo-container-right{
    width: 50%;
    /* border: 1px solid #fff; */
    position: absolute;
    left: 50%;
    padding: 10px;
}

.userInfo-content .userInfo-container .userInfo-container-footer{
    width: 100%;
    /* border: 1px solid #fff; */
    position: absolute;
    /* left: 50%; */
    bottom: 0;
    padding: 10px;
    top: 180px;
}

.userInfo-content .userInfo-container .userInfo-container-footer > button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.userInfo-content .userInfo-container .userInfo-container-left .userInfo-photo{
    width: 100%;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.userInfo-content .userInfo-container .userInfo-container-left .userInfo-photo > img{
    width: inherit;
    height: inherit;
}

.userInfo-content .userInfo-container .userInfo-container-left .userInfo-label,
.userInfo-content .userInfo-container .userInfo-container-right .userInfo-label{
    margin-top: 16px;
}

.userInfo-content .userInfo-container .userInfo-container-left .userInfo-label{
    text-align: center;
}

.userInfo-content .userInfo-container .userInfo-label .span-label{
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
    display: inline-block;
    width: 60px; 
}

.userInfo-content .userInfo-container .userInfo-label .span-info{
    font-size: 16px;
    color: #fff;
}



/* .userInfo-content .userInfo-form .ant-form-item-label label{
    color: #fefefe !important;
} */