.time-title{
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
}
.fabu-btn{
    margin-left: 30px;
}
.button-group {
    margin-top: 15px;
}
.table-title{
    height: 50px;
    width:100%;
    background: url(../../../../../asset/pfpsmas/zcms/img/form-title_03.png);
    background-size: cover;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
}
.table-title span{
    font-size: 16px;
    color: #ffffff;
}