.ms-controller {
    visibility: hidden
}

.login {
    top: 27px;
    padding-top: 54px;
}

.login>h3.title {
    margin-bottom: 18px;
    background-image: url(../../asset/img/register.png);
}


.login>.form .label_block>label {
    height: 40px;
    line-height: 40px;
    margin: 8px auto;
}

.login>.form .label_block>label>i {
    margin-top: 13px;
}

.login>.form .label_block>label[for=message] {
    width: 268px;
}

.login>.form .label_block>label[for=message]>input {
    width: calc(100% - 75px);
}

.login>.form .label_block>label[for=message]+input[type=button] {
    width: 54px;
    height: 34px;
    background-color: #42c6fd;
    border: none;
    border-radius: 5px;
    opacity: 0.95;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 14px;
    z-index: 1;
    cursor: pointer;
}

.login_btn {
    margin: 12px 0px 20px;
    cursor: pointer;
}

.form {
    width: 388px;
    position: relative;
}

.scrollbox {
    width: 388px;
    height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none;
}

.scrollbox::-webkit-scrollbar {
    width: 0px;
}

/*scroll style  */
#scrollBar {
    height: 100%;
    width: 5px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    background-color: #6cc1e7;
    cursor: pointer;
}

#scrollBar:hover {
    background-color: #000000;
    opacity: 0.4;
}

@media (min-width: 1700px) {
    .login {
        top: 9.1%;
    }

    .scrollbox {
        height: 400px;
    }
}

@media (max-width: 1368px) {
    .login {
        top: 25px;
    }

    .scrollbox {
        height: 400px;
    }

    .model-box-error {
        top: 40%;
    }
}

.disabled {
    cursor: not-allowed !important;
}