.template-content{
    background-color: transparent !important;
}

.ant-layout-aside .ant-layout-header{
    background: transparent !important;
    border-bottom: 1px solid #498a96 !important; 
}

.ant-layout-aside .ant-layout-breadcrumb{
    border-bottom: 1px solid #498a96 !important; 
    margin: 7px 0 -17px 0 !important;
    padding-left: 24px;
}

.ant-breadcrumb{
    font-size: 18px !important;
    padding: 7px 0;
}

.ant-badge-count{
    top: 0 !important;
}