@media(min-width:1200px) and (max-width:1400px){
    .login-container .login-form form label{
        font-size: 12px;
    }
    .register.register-container .register-logo{
        margin-bottom: 10px;
    }
    .ant-form-horizontal .ant-form-item{
        margin-bottom: 20px;
    }
    .register .register-container{
        top: 0;
        padding-bottom: 0;
    }
}

.login{
    width: 100vw;
    height: 100vh;
    background: url('../../../asset/sp/ua/img/bg.png') no-repeat 0 0;
    background-size: cover;
    position: relative;
}
.login-container{
    width: 30vw;
    height: auto;
    background: url('../../../asset/sp/ua/img/bg_layer.png') no-repeat 0 0;
    background-size: cover;
    padding: 20px;
    padding-top: 50px;
    position: absolute;
    top: 45px;
    right: 188px;
}

.login-container .login-logo{
    width: 120px;
    height: 32px;
    background: url(../../../asset/sp/ua/img/weclome.png) no-repeat 0 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login-container .login-form{
    width: inherit;
}

.login-container .login-form .login-form-tel-span{
    height: 32px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    position: absolute;
    right: 50px;
}

.login-form form label{
    color: #fff;
    font-size: 16px;
}