*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
	text-decoration:none;  
}

.lt{
    float: left;
}

.rt{
    float: right;
}

.overflow{
	overflow:hidden;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.no-margin{
	margin: 0px !important;
}

.no-padding{
	padding: 0px !important;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

html,body{
	width: 100%;
	height: 100%;
    font:14px MicrosoftYaHei;
    position: relative;
    
}

.content{
	width: 100%;
    height: 100%;
    background: url("../../asset/img/bg.png") no-repeat;
    background-size:100% 100%; 
    position: relative; 
    /* behavior: url('../../asset/css/backgroundsize.min.htc'); */
	/* -ms-behavior: url('../../asset/css/backgroundsize.min.htc'); */
  }
/* login  register */

.login{
    width:460px; 
    height:auto;
    background: url("../../asset/img/bg_layer.png") no-repeat 0px 0px;
    /* behavior: url('../../asset/css/backgroundsize.min.htc'); */
	/* -ms-behavior: url('../../asset/css/backgroundsize.min.htc'); */
    background-size:100% 100%;  
    padding: 57px 58px 30px 65px;
    position: absolute ;
    top:9.1%;
    right: 17.86%;
    
}

.login>h3.title1{
	width: 120px;
	height: 32px;
	background: url(../../asset/img/weclome.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	/* behavior: url('../../asset/css/backgroundsize.min.htc'); */
	/* -ms-behavior: url('../../asset/css/backgroundsize.min.htc'); */
	margin:auto;
	margin-bottom: 15px;
}

.login>.form .label_block{
	width: 352px;
	overflow: hidden;
}

.login>.form .label_block>label{	 
	width: 336px;
	height: 46px;
	line-height: 46px;
	padding: 0px 20px;
	background-color: #ffffff;
	border-radius: 5px;
	opacity: 0.95;
	display: block;
	margin:14px auto;
	color: #505050;
	float: left;
		
}

.login>.form .label_block>p{	
	width: 11px;
	line-height: 40px;
	color: #ff4f4f;
	font-size: 16px;	
	float: right;
	margin-top: 9px;
}

.login label>input,
.login label>select{
	/* width: calc(100% - 95px); */
	background: none;
	border: none;
	color: #505050;	
	outline:none;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}

.login label>select::-ms-expand{
	color: #fff;
    background: none;
    border: none;
}

.login label>input+i,
.login label>select+i{
	margin-top: 18px;
}

.forget_pass,
.check_btn{
	color:#e1e0e0;
}

/*login 按钮*/
.check_btn input[type=checkbox]{
	width: 16px;
	height: 16px;
	opacity: 0;
	margin:0px;
	position: absolute;
}

.check_btn input[type=checkbox]+i{
	width: 16px;
	height: 16px;
	background:url(../../asset/img/icon/icon.png) no-repeat -87px 0px;
}
			
.check_btn input[type=checkbox]:checked+i{
	width: 16px;
	height: 16px;
	background:url(../../asset/img/icon/icon.png) no-repeat -146px 0px;
}

.login_btn{
	width: 336px;
	height: 46px;
	line-height:46px;	
	background: url(../../asset/img/login.png) no-repeat 0px 0px;	 	 
	font-size: 18px;
	color: #fff;
	margin: 20px 0px 30px;
	border: none;
	background-color: transparent;
}

.login_btn>button{
	background-color: transparent;
	border: none;
}

.account_btn a{
	color: #e1e0e0;
	font-size: 14px;
}

/*验证码*/
label[for=proving]>input[maxlength='4']{
	letter-spacing:20px;
}
.proving {
	width: 94px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 5px;
	border: solid 1px #d2d2d2;
	opacity: 0.95;
	position: absolute;
	top: 17px;
	right: 16px;
}

/*提示框  model-box*/
.model-box-error{
	width: 66.6%;
	height: auto;
	margin: auto;
	padding:26px 0px;
	font-size: 14px;
	border-radius: 4px;
	left: 10.8%;
	top: 44%;
	background:url(../../asset/img/error-bg.png) no-repeat 0px 0px;
	color: #fff;
}

.model-box-error>div.exit{
	width: 8px;
	height: 8px; 
	line-height: 8px;
	top: 5px;
	right: 7px;
	cursor: pointer;
	color: #fff;
}

.model-box-success{
	width: 300px;
	height:304px;
	padding: 133px 0px 22px;
	background: url(../../asset/img/success-bg.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	/* behavior: url('../../asset/css/backgroundsize.min.htc'); */
	/* -ms-behavior: url('../../asset/css/backgroundsize.min.htc'); */
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.model-box-success>div.exit{
	width: 8px;
	height: 8px; 
	line-height: 8px;
	top: 78px;
	right: 9px;
	cursor: pointer;
	color: #ff3d3d;
}

.model-box-success p.tit{
	font-size: 16px;
	height: 16px;
	line-height: 16px;
	margin-bottom: 16px;
}

.model-box-success p.info-a{
	font-size: 24px;
	height: 23px;
	line-height: 23px;
	margin-bottom: 15px;
}

.model-box-success p.info-b{
	height: 15px;
	line-height: 15px;
}
	
.model-box-success a.return{
	display: inline-block;
	width: 106px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background:url(../../asset/img/success-btn.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	/* behavior: url('../../asset/css/backgroundsize.min.htc'); */
	/* -ms-behavior: url('../../asset/css/backgroundsize.min.htc'); */
	margin-top: 32px;
}

.model-box-success a.return:hover{
	background:url(../../asset/img/success-btn-hover.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	/* behavior: url('../../asset/css/backgroundsize.min.htc'); */
	/* -ms-behavior: url('../../asset/css/backgroundsize.min.htc'); */
}
/* medal */
/*@media (max-width: 1364px) {
	
}*/


/* modal-mask 式提示框 */
.modal-mask4{
    width: 100%;
    height: 100%;
    background: url('../../asset/img/zhezhao.png');
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 290;
}
.modal-mask4 .modal-box{
    width: 470px;
    position: fixed;
    left: 37%;
    left: 27%\9;
    top: 19%;
    z-index: 300;
}
:root .modal-mask4 .modal-box {
    left: 24%\9;
}
.modal-mask4 .modal-header {
    background: #fff;
    padding: 13px 18px 14px 16px;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    border-radius: 6px 6px 0 0;
}

:root .modal-mask4 .cuo {
    position: absolute\9;
    right: 3%\9;
    top: 2%\9;
}
.modal-mask4 .cuo {
    width: 20px;
    height: 20px;
    background: url('../../asset/img/cuo.png') no-repeat;
    position: absolute;
    right: 3%;
    top: 2%;
    position: fixed\9;
    right: 22%\9;
    top: 43%\9;
    z-index: 301;
    cursor: pointer;
}

.modal-mask4 .modal-footer {
    padding: 10px 18px 10px 10px;
    border-top: 1px solid #e9e9e9;
    background: #fff;
    border-radius: 0 0 6px 6px;
    text-align: right;
    margin-top: 0;
}

.modal-mask4 .modal-body ul.ztree {
    /* margin-top: 10px; */
    border: 1px solid #617775;
    background: #f0f6e4;
    overflow-y: scroll;
    overflow-x: auto;
}

.modal-mask4 .modal-box .modal-body{
	padding: 20px;
}

.pass{
    margin-top: 14px;
}